@font-face {
  font-family: Hind;
  font-display: swap;
  src: url("../fonts/Hind-SemiBold.woff2") format("woff2"), url("../fonts/Hind-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: Xolonium;
  font-display: swap;
  src: url("../fonts/Xolonium-Bold.woff2") format("woff2"), url("../fonts/Xolonium-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Xolonium;
  font-display: swap;
  src: url("../fonts/Xolonium-Regular.woff2") format("woff2"), url("../fonts/Xolonium-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, span, a, li, button {
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Xolonium;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
}

.logofont {
  font-family: Hind;
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-text-size-adjust: none;
}

input, textarea {
  -webkit-appearance: none;
}

.main-container {
  max-width: 1920px;
  padding: 0 75px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}

.header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.header.main {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.0591667) 100%);
}
.header.about {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.0591667) 100%);
}
.header.menu {
  height: auto;
  overflow: visible;
}
.header__burger {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  top: 0;
  left: 0;
  z-index: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  padding-top: 150px;
}
.header__burger.active {
  visibility: visible;
  opacity: 1;
}
.header__burger ul {
  list-style-type: none;
  width: 100%;
}
.header__burger ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -40px;
  background: #000;
  padding: 10px 0;
  position: relative;
  transition: all 0.5s;
}
.header__burger ul li:hover {
  margin-top: 0;
  margin-bottom: 30px;
}
.header__burger ul li .menu-item {
  opacity: 1;
  transition: all 0.2s;
}
.header__burger ul li .menu-item span {
  color: #ffffff;
  font-size: 100px;
  line-height: 100%;
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  text-transform: uppercase;
}
.header__burger ul li .menu-item.hover {
  opacity: 0;
}
.header__burger ul li .menu-item.marquee {
  background: #FFBE0B;
}
.header__burger ul li .menu-item.marquee {
  width: 100vw;
  display: flex;
  opacity: 0;
  transition: all 0.2s;
  position: absolute;
  top: 0;
  left: 0%;
  overflow: hidden;
}
.header__burger ul li .menu-item.marquee.hover {
  opacity: 1;
}
.header__burger ul li .menu-item.marquee div {
  display: flex;
  align-items: center;
}
.header__burger ul li .menu-item.marquee span {
  color: #ffffff;
  font-size: 98px;
  line-height: 115%;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
  margin-right: 34px;
}
.header__burger ul li .menu-item.marquee img {
  margin-right: 34px;
}
.header__videobg {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  max-width: 100%;
  min-height: 100%;
  z-index: -10;
}
.header__bg {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  object-fit: cover;
}
.header__nav {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
  z-index: 11;
}
.header__nav.active {
  position: fixed;
  padding: 30px 75px;
  top: -70px;
  padding-bottom: 70px;
  transform: translateY(70px);
}
.header__nav--left, .header__nav--right {
  display: flex;
  align-items: center;
  z-index: 6;
}
.header__nav--left a {
  display: flex;
  align-items: center;
}
.header__nav--left p {
  color: #FF9210;
  font-size: 40px;
}
.header__nav--right .header__form-btn {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  line-height: 141%;
  color: #5B4223;
  padding: 10px 54px;
  background: #FFBE0B;
  border-radius: 4px;
  text-transform: uppercase;
  box-shadow: 3px 3px 0px #8D4036;
}
.header__nav--right .header__nav--links {
  display: flex;
  align-items: center;
  margin-right: 34px;
}
.header__nav--right .header__nav--links button:not(:last-child) {
  margin-right: 15px;
}
.header__nav--right .header__nav--btns {
  display: flex;
  align-items: center;
  width: 100px;
}
.header__nav--right .header__nav--btns button {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  line-height: 141%;
  color: #FFBE0B;
  position: relative;
  width: 45px;
  height: 45px;
}
.header__nav--right .header__nav--btns button:not(:last-child) {
  margin-right: 28px;
}
.header__nav--right .header__nav--btns button img {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s;
}
.header__nav--right .header__nav--btns button img.active {
  opacity: 1;
}
.header__nav-langselection {
  position: relative;
}
.header__nav-langselection .hidden {
  display: none;
  position: absolute;
}
.header__content {
  display: flex;
}
.header__content.hidden {
  display: none;
}
.header__content--card {
  padding: 30px 160px 48px 70px;
  position: relative;
}
.header__content--card::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFBE0B;
  border-radius: 8px;
  transform: rotate(2.59deg);
}
.header__content--card h1 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  font-size: 49px;
  line-height: 136%;
  max-width: 500px;
  position: relative;
}
.header__content--card h1::before {
  content: "";
  width: 34px;
  height: 11px;
  background: #FFFFFF;
  position: absolute;
  top: 27px;
  left: -48px;
}
.header__content--card img {
  position: absolute;
  max-width: 495px;
  max-height: 90px;
  left: 312px;
  bottom: -42px;
  filter: drop-shadow(-16px 21px 28px rgba(0, 0, 0, 0.25));
}
.header__form {
  position: fixed;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  padding: 28px;
  border-radius: 15px;
  width: 90%;
  z-index: 10;
  box-shadow: 0px 0px 30px 0px rgba(2, 2, 2, 0.3);
}
.header__form.active {
  opacity: 1;
  visibility: visible;
}
.header__form form input[type=text], .header__form form input[type=email], .header__form form input[type=tel], .header__form form textarea {
  padding: 12px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  width: 100%;
  margin-bottom: 10px;
}
.header__form form input, .header__form form textarea {
  border: 1px solid transparent;
  color: #909090;
  background-color: #f5f5f5;
}
.header__form form textarea {
  resize: none;
  max-height: 250px;
}
.header__form form input[type=checkbox] {
  appearance: auto;
  margin-right: 6px;
}
.header__form form label {
  margin-right: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}
.header__form form h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 14px;
}
.header__form form .header__form-selection {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
}
.header__form form button[type=submit] {
  display: block;
  margin: 0 auto;
  margin-bottom: 14px;
  padding: 12px 48px;
  background: #FFBE0B;
  border-radius: 5px;
  box-shadow: 3px 3px 0px #8d4036;
  font-size: 18px;
  color: #5B4223;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
}
.header__form form p {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
.header__form form p a {
  padding-bottom: 3px;
  border-bottom: 1px solid #000000;
}
.header__form-btn-close {
  width: 35px;
  height: 35px;
  background-color: rgb(255, 145, 0);
  color: #ffffff;
  border-radius: 25px;
  font-size: 32px;
  position: absolute;
  top: -14px;
  right: -14px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action {
  height: 825px;
}
.action .swiper-slide {
  position: relative;
}
.action .swiper-slide-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  grid-template-rows: 1fr;
  justify-items: start;
  align-items: center;
}
.action .swiper-slide .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  position: relative;
  width: 775px;
  height: 465px;
  padding: 58px 0px 58px 100px;
}
.action .swiper-slide .content h3 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
  font-size: 44px;
  line-height: 136%;
  position: relative;
}
.action .swiper-slide .content h3::before {
  content: "";
  width: 30px;
  height: 10px;
  background: #FFFFFF;
  border-radius: 8px;
  position: absolute;
  top: 25px;
  left: -48px;
}
.action .swiper-slide .content a {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  color: #000000;
  padding: 36px 78px;
  background: #FFBE0B;
  filter: drop-shadow(7px 7px 0px #6C0E27);
  border-radius: 8px;
  text-transform: uppercase;
}
.action .swiper-slide .content .background-card {
  position: absolute;
  top: 0;
  right: 0;
  width: 775px;
  height: 465px;
  border-radius: 8px;
}
.action .swiper-slide .content .background-card.top {
  z-index: -1;
}
.action .swiper-slide .content .background-card.bottom {
  z-index: -2;
}
.action .swiper-slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.action .swiper-slide.slide-1 .swiper-slide-bg {
  background-image: url(../img/actionslider/slide-1/slide-1-bg.png);
}
.action .swiper-slide.slide-1 .content .background-card.top {
  background-color: #FF4848;
  transform: rotate(-4.31deg);
}
.action .swiper-slide.slide-1 .content .background-card.bottom {
  background-color: #FFDE84;
  transform: rotate(-7.4deg);
}
.action .swiper-slide.slide-2 .swiper-slide-bg {
  background-image: url(../img/actionslider/slide-2/slide-2-bg.png);
}
.action .swiper-slide.slide-2 .content .background-card.top {
  background-color: #35A7FF;
  transform: rotate(3.97deg);
}
.action .swiper-slide.slide-2 .content .background-card.bottom {
  background-color: #FFDE84;
  transform: rotate(0.88deg);
}
.action .swiper-slide.slide-3 .swiper-slide-bg {
  background-image: url(../img/actionslider/slide-3/slide-3-bg.png);
}
.action .swiper-slide.slide-3 .content .background-card.top {
  background-color: #6D48FF;
  transform: rotate(-2.27deg);
}
.action .swiper-slide.slide-3 .content .background-card.bottom {
  background-color: #FFDE84;
  transform: rotate(0.88deg);
}
.action .swiper-slide.slide-3 .content img {
  position: absolute;
  bottom: -60px;
  left: -65px;
}
.action .swiper-slide.slide-4 .swiper-slide-bg {
  background-image: url(../img/actionslider/slide-4/slide-4-bg.png);
}
.action .swiper-slide.slide-4 .content .background-card.top {
  background-color: #FF4848;
  transform: rotate(2.98deg);
}
.action .swiper-slide.slide-4 .content .background-card.bottom {
  background-color: #FFDE84;
  transform: rotate(6.13deg);
}
.action .swiper-slide.slide-5 .swiper-slide-bg {
  background-image: url(../img/actionslider/slide-5/slide-5-bg.png);
}
.action .swiper-slide.slide-5 .content .background-card.top {
  background-color: #6EAE6D;
  transform: rotate(-2.27deg);
}
.action .swiper-slide.slide-5 .content .background-card.bottom {
  background-color: #FFDE84;
  transform: rotate(0.88deg);
}
.action .swiper-slide.slide-6 .swiper-slide-bg {
  background-image: url(../img/actionslider/slide-6/slide-6-bg.png);
}
.action .swiper-slide.slide-6 .content .background-card.top {
  background-color: #FF5E48;
  transform: rotate(0.32deg);
}
.action .swiper-slide.slide-6 .content .background-card.bottom {
  background-color: #FFDE84;
  transform: rotate(3.47deg);
}
.action .swiper-slide.slide-6 .content img {
  position: absolute;
  bottom: 10px;
  right: -150px;
}

.videos {
  position: relative;
  height: 768px;
}
.videos__nav {
  overflow: hidden;
}
.videos__nav--link {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 141%;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: pointer;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  color: #EEEEEE;
  transition: all 0.5s;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.videos__nav--link:not(:last-child) {
  margin-bottom: 10px;
}
.videos__nav--link.active {
  color: #FFBE0B;
}
.videos__nav--link .arrow {
  font-size: 24px;
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  padding-right: 10px;
  color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}
.videos__nav--link:hover {
  color: #FFBE0B;
  transform: translate(30px);
}
.videos__nav--link:hover .arrow {
  color: #FFBE0B;
  opacity: 1;
  visibility: visible;
}
.videos .swiper-pagination-bullets {
  position: absolute;
  left: 50%;
  bottom: 50%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: start;
  transform: translate(-50%, 50%);
  width: 100%;
}
.videos .swiper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.videos .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}
.videos .swiper-slide video {
  width: 100%;
  height: auto;
}

.portfolio {
  margin-top: 60px;
  margin-bottom: 60px;
}
.portfolio__wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, 360px);
}
.portfolio__card {
  width: 360px;
  height: auto;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
}
.portfolio__card a {
  cursor: pointer;
}
.portfolio__card a img {
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}
.portfolio__card:hover {
  transform: scale(0.97);
}
.portfolio__card:hover img {
  transform: scale(1.2);
}
.portfolio__card:hover .portfolio__card-meta {
  opacity: 1;
  visibility: visible;
  background: rgba(255, 255, 255, 0.53);
  backdrop-filter: blur(10px);
}
.portfolio__card-meta {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 10;
}
.portfolio__card-meta p {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 141%;
  text-transform: uppercase;
}
.portfolio__card-meta h4 {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  line-height: 141%;
  text-transform: uppercase;
}

.ourclients {
  padding-bottom: 85px;
}
.ourclients h2 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 136%;
  color: #333333;
  text-align: center;
  text-transform: lowercase;
  margin-bottom: 30px;
}
.ourclients .swiper-pagination {
  bottom: 0;
  top: 0;
  position: static;
  margin-top: 36px;
}
.ourclients .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border-radius: 18px;
  background: #868686;
  transition: all 0.5s;
  opacity: 1;
}
.ourclients .swiper-pagination-bullet.active {
  width: 24px;
  height: 10px;
  background: #151515;
  border-radius: 18px;
}
.ourclients .swiper-slide {
  width: 180px;
}
.ourclients .swiper-slide img {
  width: 100%;
  height: 100%;
}

.letstalk {
  background: #FF4848;
  padding: 130px 100px;
}
.letstalk__wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 60px;
  grid-row-gap: 60px;
}
.letstalk__form {
  grid-area: 1/1/3/2;
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-template-rows: 100%;
}
.letstalk__form img {
  width: 100%;
  height: 100%;
}
.letstalk__form h2 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-size: 31px;
  line-height: 136%;
  color: #333333;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.letstalk__form-wrapper {
  padding: 30px 60px;
}
.letstalk__form-form {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.letstalk__form-form input, .letstalk__form-form textarea {
  border: none;
  background: #FFFBF0;
  border-radius: 4px;
  color: rgba(255, 190, 11, 0.37);
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 136%;
  width: 100%;
  padding: 12px 18px;
}
.letstalk__form-form input::placeholder, .letstalk__form-form textarea::placeholder {
  color: rgba(255, 190, 11, 0.37);
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 136%;
}
.letstalk__form-form textarea {
  resize: none;
  margin-bottom: 42px;
}
.letstalk__form-form input {
  margin-bottom: 20px;
}
.letstalk__form-form button {
  padding: 36px 100px;
  background: #FFBE0B;
  box-shadow: 6px 6px 0px #BD9526;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 141%;
  margin-left: 20px;
  text-transform: uppercase;
}
.letstalk__card {
  background: #FFFFFF;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
}
.letstalk__info {
  padding: 35px 40px;
}
.letstalk__info h3 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 136%;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 22px;
}
.letstalk__info ul {
  list-style-type: none;
}
.letstalk__info ul > li {
  display: grid;
  grid-template-columns: 25px 1fr;
  gap: 22px;
  align-items: center;
  margin-bottom: 26px;
}
.letstalk__info ul > li p, .letstalk__info ul > li p > a {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 136%;
  color: #5C5C5C;
}
.letstalk__info ul > li img {
  width: 25px;
  height: 25px;
}
.letstalk__info.moscow {
  grid-area: 1/2/2/3;
}
.letstalk__info.istanbul {
  grid-area: 2/2/3/3;
}

.footer {
  background: #000000;
  padding: 110px 0;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  color: #FFBE0B;
  font-size: 16px;
  line-height: 136%;
}
.footer p.copy {
  text-transform: uppercase;
}
.footer p.politics {
  text-transform: capitalize;
  text-decoration: underline;
}

.header.about {
  position: relative;
}
.header.about .header__bg {
  position: absolute;
}
.header.about .header__bg .intro-paralax {
  position: absolute;
  width: 105%;
  height: 105%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header.about .header__bg .intro-paralax-layer-1 {
  background-image: url(../img/about/intro-paralax-layer-1.png);
}
.header.about .header__bg .intro-paralax-layer-2 {
  background-image: url(../img/about/intro-paralax-layer-2.png);
}
.header.about .header__bg .intro-paralax-layer-3 {
  background-image: url(../img/about/intro-paralax-layer-3.png);
}
.header.about .header__bg .intro-paralax-layer-4 {
  background-image: url(../img/about/intro-paralax-layer-4.png);
}
.header.about .header__bg .intro-paralax-layer-5 {
  background-image: url(../img/about/intro-paralax-layer-5.png);
}
.header.about .header__bg .intro-paralax-layer-6 {
  background-image: url(../img/about/intro-paralax-layer-6.png);
}
.header.about .header__bg .intro-paralax-bg {
  position: absolute;
  width: 105%;
  height: 105%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../img/about/intro-paralax-bg.png);
  z-index: -10;
}

.introdusing {
  padding: 110px 0;
  overflow: hidden;
}
.introdusing h2 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  margin-bottom: 26px;
}
.introdusing h2 span {
  color: #FFBE0B;
}
.introdusing__marquee {
  padding: 20px 0;
  height: auto;
  background: #FF4848;
  box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.25);
  width: calc(100vw + 1000px);
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 21px;
  line-height: 136%;
  color: #FFFFFF;
}
.introdusing__marquee-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.introdusing__marquee.left {
  z-index: 1;
  transform: translateY(34px) rotate(-2.62deg);
}
.introdusing__marquee.right {
  filter: blur(3px);
  z-index: 0;
  transform: translateY(-34px) rotate(-8.33deg);
}
.introdusing__cards {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 550px;
  gap: 78px;
}
.introdusing__card {
  width: 100%;
  height: 100%;
  position: relative;
}
.introdusing__card.card1 .introdusing__card-background.top {
  background: #35A7FF;
  transform: rotate(-1.58deg);
}
.introdusing__card.card1 .introdusing__card-background.bottom {
  background: #FF4848;
  transform: rotate(0.46deg);
}
.introdusing__card.card2 .introdusing__card-background.top {
  background: #FFDE84;
  transform: rotate(4.09deg);
}
.introdusing__card.card2 .introdusing__card-background.bottom {
  background: #FF9110;
  transform: rotate(2.72deg);
}
.introdusing__card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.introdusing__card-background.top {
  z-index: -1;
}
.introdusing__card-background.bottom {
  z-index: -2;
}
.introdusing__card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 0;
  padding: 0 50px;
  text-align: center;
}
.introdusing__card-content img {
  margin-bottom: 24px;
}
.introdusing__card-content h4 {
  background: #FFBE0B;
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 0 10px;
  color: #FFFFFF;
}
.introdusing__card-content p {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 19px;
  line-height: 21px;
  text-transform: uppercase;
}
.introdusing__card-content h4, .introdusing__card-content p:not(:last-child) {
  margin-bottom: 9px;
}

.feedback {
  margin-bottom: 136px;
}
.feedback__heading {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 136%;
  text-align: center;
  margin-bottom: 70px;
}
.feedback .swiper-slide {
  padding: 0 110px;
  display: grid;
  grid-template-columns: 3fr 0.45fr 6.5fr;
  grid-template-rows: 1.8fr 7.2fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 70px 0 60px 0;
}
.feedback .swiper img, .feedback .swiper picture {
  width: 100%;
  height: 100%;
  grid-area: 1/1/3/3;
}
.feedback .swiper .content {
  width: 100%;
  height: 100%;
  grid-area: 2/2/4/4;
  padding: 55px 145px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.feedback .swiper .content h3 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  line-height: 136%;
  margin-bottom: 14px;
}
.feedback .swiper .content h4 {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 136%;
  color: #A0A0A0;
  padding: 7px 30px;
  background: #FFFFFF;
  border-radius: 46px;
  margin-bottom: 30px;
}
.feedback .swiper .content p {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 154.5%;
  color: #1D1D1D;
}
.feedback .swiper .content .background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #FFF8E3;
  z-index: -1;
  border-radius: 8px;
  box-shadow: 6px 6px 0px #FFBE0B;
  transform: rotate(2.41deg);
}
.feedback .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #868686;
  border-radius: 18px;
  opacity: 1;
  transition: all 0.5s;
}
.feedback .swiper-pagination-bullet.active {
  width: 24px;
  height: 10px;
  background: #151515;
  border-radius: 18px;
}
.feedback .swiper-button-next, .feedback .swiper-button-prev {
  width: auto;
}
.feedback .swiper-button-next img, .feedback .swiper-button-prev img {
  width: 64px;
  height: 64px;
}
.feedback .swiper-button-next::after, .feedback .swiper-button-prev::after {
  content: "";
}

.ourteam {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-size: 44px;
  line-height: 136%;
  margin-bottom: 136px;
  text-align: center;
}
.ourteam h3 {
  margin-bottom: 65px;
}
.ourteam__cards {
  display: grid;
  justify-content: center;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, 325px);
}
.ourteam__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ourteam__card-image {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 20px;
  border-radius: 8px;
}
.ourteam__card-image img {
  height: 100%;
}
.ourteam__card h4 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  line-height: 136%;
  color: #1A1A1A;
  margin-bottom: 8px;
}
.ourteam__card p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 136%;
  color: #7A7A7A;
}
.ourteam__card.card-1 .ourteam__card-image {
  background: #FFBE0B;
}
.ourteam__card.card-2 .ourteam__card-image {
  background: #35A7FF;
}
.ourteam__card.card-3 .ourteam__card-image {
  background: #FF4848;
}
.ourteam__card.card-4 .ourteam__card-image {
  background: #FFC076;
}
.ourteam__card.card-5 .ourteam__card-image {
  background: #A6D8FF;
}

.detailed {
  margin-top: 36px;
  margin-bottom: 250px;
  padding: 60px 110px 110px 70px;
  background: url(../img/card-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  gap: 55px;
  border-radius: 8px;
  position: relative;
}
.detailed__template {
  width: 50%;
  height: 100%;
}
.detailed__template img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 9px 9px 0px #FFBE0B;
}
.detailed__info {
  position: relative;
  max-width: 50%;
}
.detailed__info h1 {
  font-family: Xolonium;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 136%;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.detailed__meta {
  display: flex;
  gap: 18px;
  margin-bottom: 20px;
}
.detailed__meta > p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  padding: 5px 14px;
  background: #FF4848;
  border-radius: 4px;
  color: #FFFFFF;
}
.detailed__meta > p span {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  margin-right: 16px;
  color: #FFFFFF;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}
.detailed__description {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 136%;
  margin-bottom: 18px;
}
.detailed__about {
  padding: 20px 24px 32px 24px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 22px;
}
.detailed__about h3 {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  line-height: 136%;
  color: #2A353E;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.detailed__about p {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 136%;
  color: #000000;
}
.detailed ul {
  list-style-type: none;
}
.detailed ul li {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 136%;
}
.detailed ul li span {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  margin-right: 14px;
  font-size: 16px;
  line-height: 136%;
  text-transform: uppercase;
}
.detailed ul li:not(:last-child) {
  margin-bottom: 14px;
}
.detailed__buttons {
  position: absolute;
  bottom: -32px;
  right: 70px;
}
.detailed__buttons-prev, .detailed__buttons-next {
  padding: 24px 84px;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 141%;
  text-shadow: 0.933828px 0.933828px 0px rgba(255, 255, 255, 0.65);
}
.detailed__buttons-prev {
  background: #E2E2E2;
  box-shadow: 5px 5px 0px #AFAFAF;
  margin-right: 25px;
}
.detailed__buttons-next {
  background: #FFBE0B;
  box-shadow: 5px 5px 0px #BD9526;
}
.detailed__particles {
  position: absolute;
  top: -20px;
  right: 0;
}

.action .swiper-slide {
  overflow: hidden;
}
.action .swiper-slide-wrapper {
  position: relative;
}
.action .swiper-slide-particles {
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.action .swiper-slide-particles-wrapper {
  position: relative;
}
.action .swiper-slide-particles img {
  position: absolute;
}
.action .swiper-slide .particle {
  position: absolute;
}
.action .swiper-slide .particle.flower {
  top: 25px;
  left: -60px;
  z-index: -3;
}
.action .swiper-slide .particle.rainbow {
  top: 0;
  right: 0;
}
.action .swiper-slide .particle.lightning {
  top: 17%;
  left: 54%;
}
.action .swiper-slide .particle.tape {
  bottom: 17%;
  left: 55%;
}
.action .swiper-slide .particle.mouth-s3 {
  top: 17%;
  left: 50%;
}
.action .swiper-slide .particle.plane {
  left: 0;
  bottom: 12%;
}
.action .swiper-slide .particle.seashell {
  top: 15%;
  left: 54%;
}
.action .swiper-slide .particle.whale {
  bottom: 22%;
  left: 34%;
}
.action .swiper-slide .particle.moon {
  top: -20px;
  left: -60px;
  z-index: -3;
}
.action .swiper-slide.slide-1 .swiper-slide-particles img.chair {
  z-index: 10;
  top: -200px;
  right: -300px;
}
.action .swiper-slide.slide-1 .swiper-slide-particles img.mouth {
  z-index: 11;
  top: -150px;
}
.action .swiper-slide.slide-1 .swiper-slide-particles img.glasses {
  z-index: 12;
  top: -300px;
}
.action .swiper-slide.slide-2 .swiper-slide-particles img.cat {
  z-index: 10;
  top: -320px;
  right: -290px;
}
.action .swiper-slide.slide-3 .swiper-slide-particles img.flamingo {
  z-index: 10;
  top: -260px;
  right: -330px;
}
.action .swiper-slide.slide-4 .swiper-slide-particles img.phone {
  width: 650px;
  z-index: 10;
  top: -199px;
  right: -375px;
}
.action .swiper-slide.slide-5 .swiper-slide-particles img.babyandhand {
  z-index: 10;
  top: -260px;
  right: -330px;
}
.action .swiper-slide.slide-6 .swiper-slide-particles img.guse {
  z-index: 10;
  top: -260px;
  right: -330px;
}

@media (max-width: 1440px) {
  .action .swiper-slide-wrapper .particle {
    height: auto;
  }
  .action .swiper-slide-wrapper .particle.flower {
    width: 250px;
  }
  .action .swiper-slide-wrapper .particle.rainbow {
    width: 150px;
  }
  .action .swiper-slide-wrapper .particle.lightning {
    width: 90px;
    top: 2%;
    left: 55%;
  }
  .action .swiper-slide-wrapper .particle.tape {
    left: 57%;
  }
  .action .swiper-slide-wrapper .particle.mouth-s3 {
    width: 200px;
    top: 10%;
  }
  .action .swiper-slide-wrapper .particle.plane {
    bottom: 10%;
  }
  .action .swiper-slide-wrapper .particle.moon {
    width: 250px;
  }
  .action .swiper-slide-wrapper .particle.whale {
    width: 300px;
    bottom: 15%;
    left: 40%;
  }
  .action .swiper-slide-wrapper .particle.seashell {
    width: 130px;
    top: 13%;
  }
}
@media (max-width: 1320px) {
  .action .swiper-slide-wrapper .particle {
    height: auto;
  }
  .action .swiper-slide-wrapper .particle.tape {
    display: none;
  }
  .action .swiper-slide-wrapper .particle.mouth-s3 {
    display: none;
  }
  .action .swiper-slide .swiper-slide-particles-wrapper {
    transform: scale(0.6);
  }
}
@media (max-width: 1180px) {
  .action .swiper-slide-wrapper .particle.lightning {
    display: none;
  }
  .action .swiper-slide-wrapper .particle.plane {
    display: none;
  }
  .action .swiper-slide-wrapper .particle.moon {
    width: 170px;
  }
  .action .swiper-slide-wrapper .particle.seashell {
    display: none;
  }
  .action .swiper-slide-wrapper .particle.whale {
    display: none;
  }
}
@media (max-width: 1000px) {
  .action .swiper-slide .swiper-slide-particles-wrapper {
    transform: scale(0.5) translateX(0px) translateY(100px);
  }
}
@media (min-width: 1900px) {
  .header__videobg {
    min-width: 100%;
    max-height: 100%;
  }
}
@media (min-width: 2580px) {
  .action {
    height: 900px;
  }
  .videos {
    max-height: 1000px;
  }
  .introdusing__cards {
    justify-items: center;
  }
  .introdusing__card {
    max-width: 1150px;
  }
}
@media (max-width: 1850px) {
  .letstalk__form-wrapper {
    padding: 30px 30px;
  }
}
@media (max-width: 1735px) {
  .letstalk__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
  }
  .letstalk__form {
    grid-area: 1/1/2/3;
    grid-template-columns: 560px 1fr;
  }
  .letstalk__info.moscow {
    grid-area: 2/1/3/2;
  }
  .letstalk__info.istanbul {
    grid-area: 2/2/3/3;
  }
}
@media (max-width: 1440px) {
  .header__nav--links .header__form-btn {
    padding: 10px 30px;
  }
  .header__content--card {
    padding: 30px 25px 39px 56px;
  }
  .header__content--card h1 {
    font-size: 37px;
    line-height: 136%;
  }
  .header__content--card h1::before {
    width: 25px;
    height: 8px;
    top: 20px;
    left: -37px;
  }
  .header__content--card img {
    transform: scale(0.75);
    left: 205px;
    bottom: -45px;
  }
  .header__burger ul li {
    margin-top: -35px;
  }
  .header__burger ul li .menu-item span {
    font-size: 80px;
  }
  .header__burger ul li .menu-item.marquee span {
    font-size: 80px;
  }
  .header__burger ul li:hover {
    margin-bottom: 35px;
  }
  .action {
    height: 650px;
  }
  .action .swiper-slide-bg {
    background-size: auto;
    background-position: 40%;
  }
  .ourclients .swiper-slide {
    width: 180px;
  }
  .letstalk__form {
    grid-template-columns: 490px 1fr;
  }
  .feedback .swiper-slide {
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedback .swiper-slide img, .feedback .swiper-slide picture {
    max-width: 500px;
    z-index: 1;
  }
  .feedback .swiper-slide .content {
    margin-top: -70px;
    padding: 100px 60px 80px 60px;
    z-index: 0;
  }
  .feedback .swiper-button-next, .feedback .swiper-button-prev {
    width: auto;
    top: 30%;
  }
  .feedback .swiper-button-next img, .feedback .swiper-button-prev img {
    width: 48px;
    height: 48px;
  }
  .feedback .swiper-button-next::after, .feedback .swiper-button-prev::after {
    content: "";
  }
  .detailed {
    flex-direction: column;
    align-items: center;
  }
  .detailed__template {
    width: 100%;
    height: 100%;
  }
  .detailed__info {
    max-width: 100%;
  }
}
@media (max-width: 1360px) {
  .videos .swiper-slide video {
    height: 100%;
    width: auto;
  }
}
@media (max-width: 1320px) {
  .header__nav--links {
    display: none !important;
  }
  .letstalk__form {
    grid-template-columns: 1fr;
  }
  .letstalk__form-image {
    display: none;
  }
  .letstalk__form-wrapper {
    padding: 30px 130px 30px 60px;
  }
  .introdusing__cards {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 550px);
  }
}
@media (max-width: 1120px) {
  .action .swiper-slide .content {
    width: 565px;
    height: 300px;
    padding: 40px 0px 40px 60px;
  }
  .action .swiper-slide .content h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 136%;
  }
  .action .swiper-slide .content h3::before {
    width: 18px;
    height: 6px;
    top: 14px;
    left: -31px;
    border-radius: 4px;
  }
  .action .swiper-slide .content a {
    font-size: 12px;
    line-height: 141%;
    padding: 20px 30px;
  }
  .action .swiper-slide .content .background-card {
    width: 565px;
    height: 300px;
  }
  .letstalk__wrapper {
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, auto);
  }
  .letstalk__form {
    grid-area: auto;
  }
  .letstalk__form-wrapper {
    padding: 30px 80px 80px 60px;
  }
  .letstalk__info.moscow {
    grid-area: auto;
  }
  .letstalk__info.istanbul {
    grid-area: auto;
  }
  .feedback .swiper-slide img, .feedback .swiper-slide picture {
    max-width: 350px;
  }
  .detailed__particles {
    transform: scale(0.8);
    right: -10px;
  }
}
@media (max-width: 950px) {
  .main-container {
    padding: 0 20px;
  }
  .header__content {
    padding-top: 30px;
  }
  .header__nav.active {
    padding: 30px 20px;
  }
  .action {
    height: 375px;
  }
  .action .swiper-slide .content {
    width: 450px;
    height: 270px;
  }
  .action .swiper-slide .content .background-card {
    width: 450px;
    height: 270px;
  }
  .feedback__heading {
    margin-bottom: 0;
  }
}
@media (max-width: 880px) {
  .detailed__particles {
    transform: scale(0.6);
    right: -30px;
    top: -60px;
  }
}
@media (max-width: 768px) {
  .header__content--card h1 {
    max-width: 400px;
  }
  .header__content--card img {
    transform: scale(0.65);
    left: 125px;
    bottom: -45px;
  }
  .header__burger ul li {
    margin-top: -20px;
  }
  .header__burger ul li .menu-item span {
    font-size: 45px;
  }
  .header__burger ul li .menu-item.marquee span {
    font-size: 45px;
  }
  .header__burger ul li .menu-item.marquee img {
    width: 100px;
    height: auto;
  }
  .header__burger ul li:hover {
    margin-bottom: 15px;
  }
  .action .swiper-slide-wrapper {
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
  }
  .action .swiper-slide .particle {
    display: none;
  }
  .action .swiper-slide-particles {
    display: none;
  }
  .action .swiper-slide-bg {
    background-position: center center;
  }
  .videos {
    height: 500px;
  }
  .portfolio {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .portfolio__wrapper {
    grid-template-columns: repeat(auto-fill, 300px);
  }
  .portfolio__card {
    width: 300px;
  }
  .letstalk {
    padding: 130px 50px;
  }
  .letstalk__form-wrapper {
    padding: 30px 40px;
  }
  .introdusing {
    display: flex;
    flex-direction: column;
    padding: 90px 0;
  }
  .introdusing h2 {
    max-width: 600px;
    margin-bottom: 0;
  }
  .introdusing__marquee {
    font-size: 10px;
    padding: 10px 0;
  }
  .introdusing__marquee.right {
    transform: translateY(-14px) rotate(-8.33deg);
  }
  .introdusing__marquee.left {
    transform: translateY(10px) rotate(-2.62deg);
  }
  .introdusing__marquee-wrapper {
    height: 165px;
  }
  .introdusing__cards {
    gap: 45px;
  }
  .introdusing__card-content p {
    font-size: 16px;
  }
  .feedback {
    margin-bottom: 80px;
  }
  .feedback .swiper-slide {
    padding: 0 30px;
    margin: 34px 0px 60px 0px;
  }
  .feedback .swiper-button-prev, .feedback .swiper-button-next {
    top: 20%;
  }
  .ourteam {
    margin-bottom: 180px;
  }
  .ourteam h3 {
    margin-bottom: 34px;
  }
  .ourteam__cards {
    gap: 42px;
  }
  .detailed {
    margin-top: 20px;
    margin-bottom: 150px;
    padding: 35px 25px 60px 25px;
  }
  .detailed__buttons {
    right: auto;
  }
  .detailed__description {
    font-size: 16px;
  }
}
@media (max-width: 580px) {
  .main-container {
    padding: 0 16px;
  }
  .header__nav.active {
    padding: 30px 16px;
  }
  .header__nav--left img {
    width: 75px;
    height: 75px;
  }
  .header__nav--left p {
    display: none;
  }
  .header__burger {
    padding-top: 135px;
  }
  .header__button--burger img {
    width: 38px;
    height: 38px;
  }
  .header__content {
    justify-content: center;
  }
  .header__content--card {
    padding: 24px 32px 38px 54px;
  }
  .header__content--card h1 {
    font-size: 23px;
    line-height: 136%;
    max-width: 240px;
  }
  .header__content--card h1::before {
    width: 20px;
    height: 3px;
    top: 15px;
    left: -30px;
  }
  .header__content--card img {
    transform: scale(0.45);
    left: -28px;
    bottom: -55px;
  }
  .header__burger ul li {
    margin-top: -20px;
  }
  .header__burger ul li .menu-item span {
    font-size: 35px;
  }
  .header__burger ul li .menu-item.marquee span {
    font-size: 35px;
    margin-right: 25px;
  }
  .header__burger ul li .menu-item.marquee img {
    width: 80px;
    height: auto;
    margin-right: 25px;
  }
  .header__burger ul li:hover {
    margin-bottom: 10px;
  }
  .header__form form label {
    font-size: 14px;
  }
  .header__form form h3 {
    font-size: 18px;
  }
  .header__form form p {
    font-size: 14px;
  }
  .header__form form p a {
    padding-bottom: 1px;
  }
  .header__form form button[type=submit] {
    font-size: 14px;
    padding: 8px 28px;
  }
  .header__form-btn-close {
    width: 30px;
    height: 30px;
    font-size: 24px;
  }
  .action .swiper-slide .content {
    width: 265px;
    height: 170px;
    padding: 18px 20px 24px 34px;
  }
  .action .swiper-slide .content h3 {
    font-size: 13.9958px;
    line-height: 136%;
  }
  .action .swiper-slide .content h3::before {
    width: 10px;
    height: 4px;
    top: 8px;
    left: -16px;
  }
  .action .swiper-slide .content a {
    font-size: 14px;
    line-height: 141%;
    padding: 14px 24px;
    filter: drop-shadow(4px 4px 0px #6C0E27);
  }
  .action .swiper-slide .content .background-card {
    width: 265px;
    height: 170px;
  }
  .videos__nav--link:not(:last-child) {
    margin-bottom: 4px;
  }
  .ourclients {
    padding-bottom: 32px;
  }
  .ourclients h2 {
    font-size: 34px;
    line-height: 136%;
  }
  .ourclients .swiper-pagination {
    margin-top: 26px;
  }
  .letstalk {
    padding: 44px 0;
  }
  .letstalk__wrapper {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
  }
  .letstalk__form-wrapper {
    padding: 18px 22px 28px 22px;
  }
  .letstalk__form-wrapper h2 {
    font-size: 18px;
    line-height: 136%;
    margin-bottom: 18px;
  }
  .letstalk__form-form {
    justify-content: center;
    align-items: center;
  }
  .letstalk__form-form button {
    margin-left: 0;
    padding: 32px 72px;
  }
  .letstalk__info {
    padding: 30px 32px;
  }
  .letstalk__info h3 {
    margin-bottom: 19px;
  }
  .letstalk__info ul li {
    margin-bottom: 20px;
    gap: 14px;
  }
  .introdusing {
    padding: 24px 0 58px 0;
  }
  .introdusing h2 {
    font-size: 26px;
    line-height: 136%;
    width: 330px;
  }
  .introdusing__marquee-wrapper {
    height: 100px;
  }
  .introdusing__cards {
    margin-top: 45px;
  }
  .introdusing__card-content {
    padding: 0 10px;
  }
  .introdusing__card-content img {
    min-width: 50%;
    max-width: 90%;
  }
  .introdusing__card-content h4 {
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 18px;
    max-width: 300px;
  }
  .introdusing__card-content p {
    font-size: 16px;
    line-height: 18px;
  }
  .introdusing__card-content p:not(:last-child) {
    margin-bottom: 18px;
  }
  .feedback .swiper-slide {
    padding: 0 20px;
  }
  .feedback .swiper-slide img, .feedback .swiper-slide picture {
    max-width: 245px;
  }
  .feedback .swiper-slide .content {
    margin-top: -40px;
    padding: 64px 32px 60px 32px;
  }
  .feedback .swiper-slide .content h3 {
    font-size: 15px;
    line-height: 136%;
  }
  .feedback .swiper-slide .content h4 {
    font-size: 12px;
    line-height: 136%;
    padding: 10px 18px;
  }
  .feedback .swiper-slide .content p {
    font-size: 14px;
    line-height: 154.5%;
  }
  .feedback .swiper-button-prev, .feedback .swiper-button-next {
    width: 32px;
    height: 32px;
  }
  .feedback .swiper-button-prev img, .feedback .swiper-button-next img {
    width: 100%;
  }
  .feedback .swiper-button-next {
    right: 0;
  }
  .feedback .swiper-button-prev {
    left: 0;
  }
  .ourteam {
    margin-bottom: 64px;
  }
  .ourteam h3 {
    font-size: 34px;
    line-height: 136%;
    margin-bottom: 26px;
  }
  .ourteam__cards {
    gap: 30px;
  }
  .detailed {
    gap: 14px;
    padding: 22px 25px 25px 25px;
    margin-bottom: 44px;
  }
  .detailed__template img {
    box-shadow: 4px 4px 0px #ffbe0b;
  }
  .detailed__info {
    margin-bottom: 26px;
  }
  .detailed__description {
    font-size: 14px;
    line-height: 136%;
    margin-bottom: 32px;
  }
  .detailed__about p {
    font-size: 14px;
    line-height: 136%;
  }
  .detailed ul li, .detailed ul li span {
    font-size: 14px;
    line-height: 136%;
  }
  .detailed__particles {
    display: none;
  }
  .detailed__meta {
    flex-direction: column;
    gap: 14px;
  }
  .detailed__meta p {
    width: fit-content;
  }
  .detailed__buttons {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .detailed__buttons-prev, .detailed__buttons-next {
    margin: 0;
    width: 240px;
    height: 70px;
    padding: 0;
  }
  .footer {
    padding: 55px 0;
  }
  .footer__wrapper {
    flex-direction: column;
    gap: 24px;
  }
}
@media (max-height: 690px) {
  .header .headerform-description {
    max-height: 150px;
  }
}