.action .swiper {
    &-slide {
        overflow: hidden;

        &-wrapper {
            position: relative;
        }
        
        &-particles {
            z-index: 10;
            width: 100%;
            height: 100%;
            
            display: flex;
            align-items: center;
            justify-content: center;
            
            &-wrapper {
                position: relative;
            }
            
            img {
                position: absolute;
            }
        }
        
        .particle {
            position: absolute;

            &.flower {
                top: 10px;
                left: -60px;
                z-index: -3;
            }

            &.rainbow {
                top: -10px;
                right: 0;
            }
            
            &.lightning {
                top: 12%;
                left: 54%;
            }

            &.mouth-s3 {
                width: 240px;
                top: 13%;
                left: 50%;
            }

            &.plane {
                width: 200px;
                left: 0;
                bottom: 12%;
                transform: rotate(-11.5deg);
            }

            &.seashell {
                top: 6%;
                left: 52%;
            }

            &.whale {
                width: 430px;
                bottom: 20%;
                left: 34%;
            }

            &.moon {
                width: 300px;
                top: -75px;
                left: -90px;
                z-index: -3;
            }
        }

        &.slide-1 {
            .swiper-slide-particles {
                img {
                    &.chair {
                        z-index: 10;
                        top: -200px;
                        right: -300px;
                    }
    
                    &.mouth {
                        z-index: 11;
                        top: -150px;
                    }
    
                    &.glasses {
                        z-index: 12;
                        top: -320px;
                    }
                }
            }
        }

        &.slide-2 {
            .swiper-slide-particles {
                img {
                    &.cat {
                        width: 330px;
                        z-index: 10;
                        top: -260px;
                        right: -250px;
                    }
                    
                    &.ufo {
                        width: 340px;
                        z-index: 9;
                        top: -360px;
                        right: -240px;
                    }
                }
            }
        }

        &.slide-3 {
            .swiper-slide-particles {
                img {
                    &.flamingo {
                        z-index: 10;
                        top: -260px;
                        right: -360px;
                    }
                }
            }
        }

        &.slide-4 {
            .swiper-slide-particles {
                img {
                    &.phone {
                        width: 450px;
                        z-index: 10;
                        bottom: -220px;
                        left: 0;
                    }
                    &.hand {
                        width: 650px;
                        z-index: 10;
                        top: -220px;
                        right: -220px;
                    }
                }
            }
        }

        &.slide-5 {
            .swiper-slide-particles {
                img {
                    &.baby {
                        z-index: 10;
                        width: 580px;
                        top: -260px;
                        right: -330px;
                    }
                    
                    &.hand-s5 {
                        z-index: 10;
                        width: 480px;
                        top: -320px;
                        right: -140px;
                    }
                }
            }
        }
        
        &.slide-6 {
            .swiper-slide-particles {
                img {
                    &.guse {
                        z-index: 10;
                        width: 400px;
                        top: -300px;
                        right: -330px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1750px) {

    .action .swiper {
        &-slide {
            &.slide-4 {
                .swiper-slide-particles {
                    img {
                        &.phone {
                            width: 360px;
                            z-index: 10;
                            bottom: -220px;
                            left: 40px;
                        }
                        &.hand {
                            width: 500px;
                            z-index: 10;
                            top: -150px;
                            right: -200px;
                        }
                    }
                }
            }
        }
    }
   
}

@media (max-width: 1440px) {
    .action .swiper {
        &-slide {
            &-wrapper {
                grid-template-columns: 1fr;
                justify-items: center;
                
                .particle {
                    display: none;
                }
            }

            &-particles {
                display: none;
            }

            &-bg {
                background-size: cover;
                background-position: center center;
            }
        }
    }
}


// @media (max-width: 1320px) {
//     .action .swiper {
//         &-slide {
//             &-wrapper {
//                 .particle {
//                     height: auto;

//                     &.tape {
//                         display: none;
//                     }

//                     &.mouth-s3 {
//                         display: none;
//                     }
//                 }
//             }
            
//             .swiper-slide-particles {
//                 &-wrapper {
//                     transform: scale(.6);
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1180px) {
//     .action .swiper {
//         &-slide {
//             &-wrapper {
//                 .particle {
//                     &.lightning {
//                         display: none;
//                     }

//                     &.plane {
//                         display: none;
//                     }

//                     &.moon {
//                         width: 170px;
//                     }

//                     &.seashell {
//                         display: none;
//                     }

//                     &.whale {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 1000px) {
//     .action .swiper {
//         &-slide {
//             .swiper-slide-particles {
//                 &-wrapper {
//                     transform: scale(.5) translateX(0px) translateY(100px);
//                 }
//             }
//         }
//     }
// }

// // @media (max-width: 890px) {
// //     .action .swiper {
// //         &-slide {
// //             &-particles {
// //                 display: none;
// //             }
// //         }
// //     }
// // }