$main-container-width: 1920px;
$main-container-padding: 75px;

@import "fonts";

// Nullable, main
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-text-size-adjust: none;
}

input, textarea{
	-webkit-appearance: none;
} 

.main-container {
    max-width: $main-container-width;
    padding: 0 $main-container-padding;
    margin: 0 auto;
}

button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: relative;
    height: 100vh;

    overflow: hidden;

    &.main {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.0591667) 100%);
    }

    &.about {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.71) 0%, rgba(0, 0, 0, 0.0591667) 100%);
    }

    &.menu {
        height: auto;
        overflow: visible;
    }
    
    &__burger {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: #000000;
        top: 0;
        left: 0;
        z-index: 5;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        visibility: hidden;
        opacity: 0;

        transition: all .4s;

        padding-top: 150px;     
        
        &.active {
            visibility: visible;
            opacity: 1;
        }
        
        ul {
            list-style-type: none;
            width: 100%;
            
            li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                margin-top: -40px;
                background: #000;
                padding: 10px 0;

                position: relative;
                transition: all .5s;

                &:hover {
                    margin-top: 0;
                    margin-bottom: 30px;
                }

                .menu-item {
                    opacity: 1;
                    transition: all .2s;

                    span {
                        color: #ffffff;
                        font-size: 100px;
                        line-height: 100%;
                        @include pg-600();
                        text-transform: uppercase;
                    }

                    &.hover {
                        opacity: 0;
                    }

                    &.marquee {
                        background: #FFBE0B;
                    }
                }
                
                .menu-item.marquee {
                    width: 100vw;
                    display: flex;
                    opacity: 0;
                    transition: all .2s;
                    position: absolute;
                    top: 0;
                    left: 0%;

                    overflow: hidden;

                    &.hover {
                        opacity: 1;
                    }

                    div {
                        display: flex;
                        align-items: center;
                    }
                    
                    span {
                        color: #ffffff;
                        font-size: 98px;
                        line-height: 115%;
                        @include pg-500();
                        text-transform: uppercase;
                        margin-right: 34px;
                    }

                    img {
                        margin-right: 34px;
                    }
                }
            }
        }
    }

    &__videobg {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        max-width: 100%;
        min-height: 100%;
        z-index: -10;
    }
    
    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -10;
        object-fit: cover;
    }

    &__nav {
        top: 0;
        left: 0;

        width: 100%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 30px 0;

        z-index: 11;

        &.active {
            position: fixed;
            padding: 30px 75px;
            top: -70px;
            padding-bottom: 70px;
            transform: translateY(70px);
        }

        &--left, &--right {
            display: flex;
            align-items: center;
            z-index: 6;
        }

        &--left {
            a {
                display: flex;
                align-items: center;
            }

            p {
                color: #FF9210;
                font-size: 40px;
            }
        }

        &--right {
            .header__form-btn {
                @include pg-700();
                font-size: 22px;
                line-height: 141%;
                color: #5B4223;
                padding: 10px 54px;
                background: #FFBE0B;
                border-radius: 4px;

                text-transform: uppercase;

                box-shadow: 3px 3px 0px #8D4036;
            }

            .header__nav--links {
                display: flex;
                align-items: center;
                margin-right: 34px;

                button {
                    transition: all .8s;
                    &:hover {
                        transform: scale(1.05);
                        // padding: 14px 64px;
                    }

                    &:not(:last-child) {
                        margin-right: 15px;
                    }
                }
                
            }

            .header__nav--btns {
                display: flex;
                align-items: center;
                width: 100px;
                
                button {
                    @include pg-700();
                    font-size: 23px;
                    line-height: 141%;
                    
                    color: #FFBE0B;
                    
                    position: relative;

                    width: 45px;
                    height: 45px;

                    &:not(:last-child) {
                        margin-right: 28px;
                    }

                    img {
                        position: absolute;
                        top: 0;
                        right: 0;
                        opacity: 0;

                        transition: all .4s;

                        &.active {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        &-langselection {
            position: relative;

            .hidden {
                display: none;
                position: absolute;
            }
        }
    }

    &__content {
        display: flex;
        height: calc(100vh - 230px);
        align-items: end;

        &.hidden {
            display: none;
        }

        &--card {
            width: 770px;
            height: 277px;
            padding: 30px 160px 48px 70px;
            
            position: relative;

            &::before {
                content: '';
                display: inline-block;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: #FFBE0B;
                border-radius: 8px;
                transform: rotate(2.59deg);
            }

            h1 {
                @include heading-light();
                color: #FFFFFF;
                font-size: 49px;
                line-height: 136%;

                max-width: 500px;

                position: relative;

                &::before {
                    content: '';
                    width: 34px;
                    height: 11px;
                    background: #FFFFFF;
                    position: absolute;
                    top: 27px;
                    left: -48px;
                }
            }

            img {
                position: absolute;
                max-width: 495px;
                max-height: 90px;
                left: 312px;
                bottom: -42px;
                filter: drop-shadow(-16px 21px 28px rgba(0, 0, 0, 0.25));
            }
        }
    }

    &__form {
        position: fixed;
        background: #ffffff;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
        
        opacity: 0;
        visibility: hidden;

        transition: all .5s;

        padding: 28px;
        border-radius: 15px;

        width: 90%;
        z-index: 10;

        box-shadow: 0px 0px 30px 0px rgba(2, 2, 2, 0.3);

        &.active {
            opacity: 1;
            visibility: visible;
        }

        form {
            input[type=text], input[type=email], input[type=tel], textarea  {
                padding: 12px;
                @include pg-500();
                width: 100%;
                margin-bottom: 10px;
            }

            input, textarea {
                border: 1px solid transparent;
                color: #909090;
                background-color: #f5f5f5;
            }

            textarea {
                resize: none;
                max-height: 250px;
            }

            input[type=checkbox] {
                appearance: auto;
                margin-right: 6px;
            }

            label {
                margin-right: 8px;
                @include pg-500();
                font-size: 20px;
            }

            h3 {
                @include pg-600();
                margin-bottom: 14px;
            }

            .header__form-selection {
                margin-bottom: 20px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(auto-fill, 1fr);
            }

            button[type=submit] {
                display: block;
                margin: 0 auto;
                margin-bottom: 14px;
                padding: 12px 48px;
                background: #FFBE0B;
                border-radius: 5px;
                box-shadow: 3px 3px 0px #8d4036;
                font-size: 18px;
                color: #5B4223;
                @include pg-700();
            }

            p {
                @include pg-500();
                text-align: center;

                a {
                    padding-bottom: 3px;
                    border-bottom: 1px solid #000000;
                }
            }
        }

        &-btn-close {
            width: 35px;
            height: 35px;
            background-color: rgba( 255, 145, 0, 1.00 );
            color: #ffffff;
            border-radius: 25px;
            font-size: 32px;
            position: absolute;
            top: -14px;
            right: -14px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.action {
    height: 100vh;

    .swiper {
        &-slide {
            position: relative;

            &-wrapper {
                width: 100%;
                height: 100%;
                display: grid;
                grid-template-columns: 1fr .8fr;
                grid-template-rows: 1fr;
                justify-items: start;
                align-items: center;
            }
            

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                position: relative;

                width: 775px;
                height: 465px;

                padding: 58px 60px 58px 100px;

                &:hover {
                    h3 {
                        transform: translateX(-20px);
                    }
                    
                    a {
                        transform: scale(1.05);
                    }
                }

                h3 {
                    @include heading-light();
                    color: #FFFFFF;
                    font-size: 44px;
                    line-height: 136%;
                    position: relative;

                    transition: all .5s;

                    // &::before {
                    //     content: '';
                    //     width: 30px;
                    //     height: 10px;
                    //     background: #FFFFFF;
                    //     border-radius: 8px;
                    //     position: absolute;
                    //     top: 25px;
                    //     left: -48px;
                    // }
                }

                a {
                    @include pg-700();
                    color: #000000;
                    padding: 36px 78px;
                    background: #FFBE0B;
                    filter: drop-shadow(7px 7px 0px #6C0E27);
                    border-radius: 8px;

                    text-transform: uppercase;

                    transition: all .5s;
                }

                .background-card {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 775px;
                    height: 465px;
                    border-radius: 8px;

                    &.top {
                        z-index: -1;
                        transition: all .5s;
                    }
                    
                    &.bottom {
                        z-index: -2;
                        transition: all .5s;
                    }
                }
            }
        }

        &-slide {
            &-bg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -10;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            &.slide-1 {
                & .swiper-slide-bg {
                    background-image: url(@img/actionslider/slide-1/slide-1-bg.png);
                }
    
                & .content {
                    & .background-card {
                        &.top {
                            background-color: #FF4848;
                            transform: rotate(-4.31deg);
                        }
                        
                        &.bottom {
                            background-color: #FFDE84;
                            transform: rotate(-7.4deg);
                        }
                    }

                    &:hover {
                        .background-card {
                            &.top {
                                transform: rotate(-8.39deg);
                            }

                            &.bottom {
                                transform: rotate(-5.07deg);
                            }
                        }
                    }
                }
            }
        }
        
        

        &-slide.slide-2 {
            & .swiper-slide-bg {
                background-image: url(@img/actionslider/slide-2/slide-2-bg.png);
            }

            & .content {
                & .background-card {
                    &.top {
                        background-color: #35A7FF;
                        transform: rotate(3.97deg);
                    }
                    
                    &.bottom {
                        background-color: #FFDE84;
                        transform: rotate(0.88deg);
                    }
                }

                &:hover {
                    .background-card {
                        &.top {
                            transform: rotate(5.39deg);
                        }

                        &.bottom {
                            transform: rotate(-2.5deg);
                        }
                    }
                }
            }
        }

        &-slide.slide-3 {
            & .swiper-slide-bg {
                background-image: url(@img/actionslider/slide-3/slide-3-bg.png);
            }
            
            & .content {
                & .background-card {
                    &.top {
                        background-color: #6D48FF;
                        transform: rotate(-2.27deg);
                    }
                    
                    &.bottom {
                        background-color: #FFDE84;
                        transform: rotate(0.88deg);
                    }
                }

                &:hover {
                    .background-card {
                        &.top {
                            transform: rotate(-4.12deg);
                        }

                        &.bottom {
                            transform: rotate(5.02deg);
                        }
                    }
                }

                img {
                    position: absolute;
                    bottom: -60px;
                    left: -65px;
                }
            }
        }

        &-slide.slide-4 {
            & .swiper-slide-bg {
                background-image: url(@img/actionslider/slide-4/slide-4-bg.png);
            }

            & .content {
                & .background-card {
                    &.top {
                        background-color: #FF4848;
                        transform: rotate(2.98deg);
                    }
                    
                    &.bottom {
                        background-color: #FFDE84;
                        transform: rotate(6.13deg);
                    }
                }

                &:hover {
                    .background-card {
                        &.top {
                            transform: rotate(-1.12deg);
                        }

                        &.bottom {
                            transform: rotate(10.02deg);
                        }
                    }
                }
            }
        }

        &-slide.slide-5 {
            & .swiper-slide-bg {
                background-image: url(@img/actionslider/slide-5/slide-5-bg.png);
            }

            & .content {
                & .background-card {
                    &.top {
                        background-color: #6EAE6D;
                        transform: rotate(-2.27deg);
                    }
                    
                    &.bottom {
                        background-color: #FFDE84;
                        transform: rotate(0.88deg);
                    }
                }

                &:hover {
                    .background-card {
                        &.top {
                            transform: rotate(-4.41deg);
                        }

                        &.bottom {
                            transform: rotate(4.35deg);
                        }
                    }
                }
            }
        }

        &-slide.slide-6 {
            & .swiper-slide-bg {
                background-image: url(@img/actionslider/slide-6/slide-6-bg.png);
            }
            
            & .content {
                & .background-card {
                    &.top {
                        background-color: #FF5E48;
                        transform: rotate(0.32deg);
                    }
                    
                    &.bottom {
                        background-color: #FFDE84;
                        transform: rotate(3.47deg);
                    }
                }

                &:hover {
                    .background-card {
                        &.top {
                            transform: rotate(3.9deg);
                        }

                        &.bottom {
                            transform: rotate(-2.17deg);
                        }
                    }
                }

                img {
                    position: absolute;
                    bottom: 10px;
                    right: -150px;
                }
            }
        }
    }
}

.videos {
    position: relative;
    height: 100vh;

    &__nav {
        overflow: hidden;

        &--link {
            @include pg-700();
            font-size: 16px;
            line-height: 141%;
            color: #FFFFFF;
            text-transform: uppercase;
            cursor: pointer;

            text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);

            color: #EEEEEE;

            transition: all .5s;

            overflow: hidden;

            display: flex;
            align-items: center;
    
            &:not(:last-child) {
                margin-bottom: 10px;
            }
    
            &.active {
                color: #FFBE0B;
            }

            .arrow {
                font-size: 24px;
                @include heading-light();
                padding-right: 10px;
                color: #ffffff;
                visibility: hidden;
                opacity: 0;
                transition: all .5s;
            }

            &:hover {
                color: #FFBE0B;
                transform: translate(30px);

                .arrow {
                    color: #FFBE0B;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }

    .swiper-pagination-bullets {
        position: absolute;
        left: 50%;
        bottom: 50%;
        z-index: 100;
        display: flex;
        flex-direction: column;
        align-items: start;
        transform: translate(-50%, 50%);
        width: 100%;  
    }

    .swiper {
        display: flex;
        justify-content: center;
        align-items: center;

        &-slide {
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;

            video {
                width: 100%;
                height: auto;
            }
        }
    }
}

.portfolio {
    margin-top: 60px;
    margin-bottom: 60px;

    z-index: 10;

    &__wrapper {
        display: grid;
        align-items: center;
        justify-content: center;
        gap: 32px;
        grid-template-columns: repeat(auto-fill, 360px);
    }

    &__card {
        width: 360px;
        height: auto;
        position: relative;

        transition: all .5s;

        overflow: hidden;

        a {
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;

                transition: all .5s;

                transform: scale(1.1);
            }
        }

        &:hover {
            transform: scale(.97);
            
            img {
                transform: scale(1.2);
            }
            
            .portfolio__card-meta {
                opacity: 1;
                visibility: visible;
                background: rgba(255, 255, 255, 0.53);
                backdrop-filter: blur(10px);
            }
        }

        &-meta {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            opacity: 0;
            visibility: hidden;

            transition: all .5s;

            z-index: 10;

            p {
                @include pg-600();
                font-size: 16px;
                line-height: 141%;
                text-transform: uppercase;
            }

            h4 {
                @include pg-700();
                font-size: 30px;
                line-height: 141%;
                text-transform: uppercase;
            }
        }
    }
}

.ourclients {
    padding-bottom: 85px;

    h2 {
        @include heading-light();
        font-size: 44px;
        line-height: 136%;
        color: #333333;
        text-align: center;
        text-transform: lowercase;

        margin-bottom: 30px;
    }

    .swiper {
        &-pagination {
            bottom: 0;
            top: 0;
            position: static;
            margin-top: 36px;

            &-bullet {
                width: 10px;
                height: 10px;
                border-radius: 18px;
                background: #868686;
                transition: all .5s;
                opacity: 1;

                &.active {
                    width: 24px;
                    height: 10px;
                    background: #151515;
                    border-radius: 18px;
                }
            }
        }

        &-slide {
            width: 180px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.letstalk {
    // height: 875px;
    background: #FF4848;
    padding: 130px 100px;

    &__wrapper {
        height: 100%;
        display: grid;
        grid-template-columns: .7fr .3fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }

    &__form {
        grid-area: 1 / 1 / 3 / 2;

        display: grid;
        grid-template-columns: 500px 1fr;
        grid-template-rows: 100%;

        // img.letstalk__form-particle.bg {
        //     width: 100%;
        //     height: 100%;
        // }

        h2 {
            @include heading-light();
            font-size: 31px;
            line-height: 136%;
            color: #333333;
            text-transform: capitalize;

            margin-bottom: 30px;
        }

        &-wrapper {
            padding: 30px 60px;
        }

        &-form {
            display: flex;
            flex-direction: column;
            align-items: start;

            input, textarea {
                border: none;
                background: #FFFBF0;
                border-radius: 4px;
                color: rgba(255, 190, 11, 0.37);
                @include pg-500();
                font-size: 14px;
                line-height: 136%;

                width: 100%;

                padding: 12px 18px;

                &::placeholder {
                    color: rgba(255, 190, 11, 0.37);
                    @include pg-500();
                    font-size: 14px;
                    line-height: 136%;
                }

                transition: all .3s;

                &:hover {
                    transform: scale(1.01);
                    border: 2px solid #FFE08E;
                }
            }

            textarea {
                resize: none;
                margin-bottom: 42px;
            }

            input {
                margin-bottom: 20px;
            }

            button {
                padding: 36px 100px;
                background: #FFBE0B;
                box-shadow: 6px 6px 0px #BD9526;
                @include pg-700();
                font-size: 16px;
                line-height: 141%;

                margin-left: 20px;

                text-transform: uppercase;
                transition: all .5s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

        &-image {
            position: relative;
        }

        &-particle {
            position: absolute;

            &.hand {
                top: 40%;
                right: 5%;
                z-index: 2; 
            }

            &.phone {
                top: 20%;
                left: 20%;
                z-index: 1;
            }

            &.bg {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
        }
    }

    &__card {
        background: #FFFFFF;
        box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
    }

    &__info {
        padding: 35px 40px;

        h3 {
            @include heading-light();
            font-style: normal;
            font-size: 22px;
            line-height: 136%;
            color: #333333;
            text-transform: uppercase;
            margin-bottom: 22px;
        }

        ul {
            list-style-type: none;

            & > li {
                display: grid;
                grid-template-columns: 25px 1fr;
                gap: 22px;

                align-items: center;

                margin-bottom: 26px;

                p, p > a {
                    @include pg-500();
                    font-size: 16px;
                    line-height: 136%;
                    color: #5C5C5C;

                    width: fit-content;

                    transition: font-weight .3s;
                    transition: letter-spacing .5s;
                }

                &.clickable {
                    p:hover, p:hover a {
                        font-weight: bold;
                        letter-spacing: -.2px;
                    }
                }

                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }

        &.moscow {
            grid-area: 1 / 2 / 2 / 3;
        }
    
        &.istanbul {
            grid-area: 2 / 2 / 3 / 3;
        }
    }
}

.footer {
    background: #000000;
    padding: 110px 0;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    p {
        @include pg-600();
        color: #FFBE0B;
        font-size: 16px;
        line-height: 136%;

        &.copy {
            text-transform: uppercase;
        }

        &.politics {
            text-transform: capitalize;
            text-decoration: underline;
        }
    }
}

// About page

.header.about {
    position: relative;

    .header__bg {
        position: absolute;

        .intro-paralax {
            position: absolute;
            width: 105%;
            height: 105%;

            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;

            &-layer {
                &-1 {
                    background-image: url(@img/about/intro-paralax-layer-1.png);
                }
    
                &-2 {
                    background-image: url(@img/about/intro-paralax-layer-2.png);
                }
    
                &-3 {
                    background-image: url(@img/about/intro-paralax-layer-3.png);
                }
    
                &-4 {
                    background-image: url(@img/about/intro-paralax-layer-4.png);
                }
    
                &-5 {
                    background-image: url(@img/about/intro-paralax-layer-5.png);
                }
    
                &-6 {
                    background-image: url(@img/about/intro-paralax-layer-6.png);
                }
            }
            
            &-bg {
                position: absolute;
                width: 105%;
                height: 105%;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                background-image: url(@img/about/intro-paralax-bg.png);
                z-index: -10;
            }
        }
    }
}

.introdusing {
    padding: 110px 0;
    overflow: hidden;

    h2 {
        @include heading-light();
        font-size: 44px;
        line-height: 136%;
        text-align: center;

        margin-bottom: 26px;

        text-transform: uppercase;

        span {
            color: #FFBE0B;
        }
    }

    &__marquee {
        padding: 20px 0;
        height: auto;
        background: #FF4848;
        box-shadow: 0px 4px 56px rgba(0, 0, 0, 0.25);

        width: calc(100vw + 1000px);

        text-transform: uppercase;

        @include pg-600();
        font-size: 21px;
        line-height: 136%;
        color: #FFFFFF;

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 250px;
        }

        &.left {
            z-index: 1;
            transform: translateY(34px) rotate(-2.62deg);
        }

        &.right {
            filter: blur(3px);
            z-index: 0;
            transform: translateY(-34px) rotate(-8.33deg);
        }
    }

    &__cards {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 550px;
        gap: 78px;

        opacity: 0;
        transition: opacity 1s;
    }

    &__card {
        width: 100%;
        height: 100%;
        position: relative;

        &.card1 {
            .introdusing__card-background {

                transition: transform .5s;

                &.top {
                    background: #35A7FF;
                    transform: rotate(-1.58deg);
                }

                &.bottom {
                    background: #FF4848;
                    transform: rotate(0.46deg);
                }
            }

            &:hover {
                .introdusing__card-background {
                    &.top {
                        transform: rotate(-4.34deg);
                    }
    
                    &.bottom {
                        transform: rotate(2.77deg);
                    }
                }
            }
        }

        &.card2 {
            .introdusing__card-background {
                
                transition: transform .5s;
                
                &.top {
                    background: #FFDE84;
                    transform: rotate(4.09deg);
                }

                &.bottom {
                    background: #FF9110;
                    transform: rotate(2.72deg);
                }
            }

            &:hover {
                .introdusing__card-background {
                    &.top {
                        transform: rotate(6.71deg);
                    }
    
                    &.bottom {
                        transform: rotate(0.75deg);
                    }
                }
            }
        }

        &-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            border-radius: 8px;

            &.top {
                z-index: -1;
            }

            &.bottom {
                z-index: -2;
            }
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;

            z-index: 0;

            padding: 0 50px;
            text-align: center;

            img {
                margin-bottom: 24px;
            }

            h4 {
                background: #FFBE0B;
                @include pg-600();
                font-size: 26px;
                line-height: 29px;
                text-transform: uppercase;
                padding: 0 10px;
                color: #FFFFFF;
            }

            p {
                @include pg-600();
                font-size: 19px;
                line-height: 21px;
                text-transform: uppercase;
            }

            h4, p:not(:last-child) {
                margin-bottom: 9px;
            }
        }
    }
}

.feedback {
    margin-bottom: 136px;

    &__heading {
        @include heading-light();
        font-size: 44px;
        line-height: 136%;
        text-align: center;
        margin-bottom: 70px;
    }

    .swiper {
        &-slide {
            padding: 0 110px;
            display: grid;
            grid-template-columns: 3fr .45fr 6.5fr;
            grid-template-rows: 1.8fr 7.2fr 1fr;
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            margin: 70px 0 60px 0;
        }

        img, picture {
            width: 100%;
            height: 100%;
            grid-area: 1 / 1 / 3 / 3;
        }

        .content {
            width: 100%;
            height: 100%;
            grid-area: 2 / 2 / 4 / 4;
            padding: 55px 145px;

            position: relative;

            display: flex;
            flex-direction: column;
            align-items: start;

            h3 {
                @include heading-light();
                font-size: 23px;
                line-height: 136%;

                margin-bottom: 14px;
            }

            h4 {
                @include pg-500();
                font-size: 14px;
                line-height: 136%;
                color: #A0A0A0;

                padding: 7px 30px;
                background: #FFFFFF;
                border-radius: 46px;

                margin-bottom: 30px;
            }

            p {
                @include pg-500();
                font-size: 16px;
                line-height: 154.5%;
                color: #1D1D1D;
            }

            .background {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #FFF8E3;
                z-index: -1;
                border-radius: 8px;
                box-shadow: 6px 6px 0px #FFBE0B;
                transform: rotate(2.41deg);
            }
        }

        &-pagination {
            &-bullet {
                width: 10px;
                height: 10px;
                background: #868686;
                border-radius: 18px;
                opacity: 1;

                transition: all .5s;

                &.active {
                    width: 24px;
                    height: 10px;
                    background: #151515;
                    border-radius: 18px;
                }
            }
        }

        &-button {
            &-next, &-prev {
                width: auto;

                img {
                    width: 64px;
                    height: 64px;
                }

                &::after {
                    content: '';
                }
            }
        }
    }
}

.ourteam {
    @include heading-light();
    font-size: 44px;
    line-height: 136%;
    margin-bottom: 136px;

    text-align: center;

    h3 {
        margin-bottom: 65px;
    }

    &__cards {
        display: grid;
        justify-content: center;
        gap: 20px;
        grid-template-columns: repeat(auto-fill, 325px);
    }

    &__card {
        @include flex-center();
        flex-direction: column;

        &-image {
            display: flex;
            flex-direction: column;
            justify-content: end;
            margin-bottom: 20px;
            border-radius: 8px;

            img {
                height: 100%;
            }
        }

        h4 {
            @include heading-light();
            font-size: 26px;
            line-height: 136%;
            color: #1A1A1A;
            margin-bottom: 8px;
        }

        p {
            @include pg-400();
            font-size: 18px;
            line-height: 136%;
            color: #7A7A7A;
        }

        &.card-1 .ourteam__card-image {
            background: #FFBE0B;
        }

        &.card-2 .ourteam__card-image {
            background: #35A7FF;
        }

        &.card-3 .ourteam__card-image {
            background: #FF4848;
        }

        &.card-4 .ourteam__card-image {
            background: #FFC076;
        }

        &.card-5 .ourteam__card-image {
            background: #A6D8FF;
        }
    }
}

// Card page

.detailed {
    margin-top: 36px;
    margin-bottom: 250px;
    padding: 60px 110px 110px 70px;
    background: url(@img/card-bg.png);
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    // flex-wrap: wrap;
    gap: 55px;

    border-radius: 8px;

    position: relative;

    &__template {
        width: 50%;
        height: 100%;
        position: relative;

        z-index: 5;

        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;

            transition: all .5s;

        }
    
        &--bg {
            width: 100%;
            height: 100%;
            position: absolute;

            top: 5px;
            left: 9px;
            background-color: #FFBE0B;
            border-radius: 8px;
            z-index: -1;

            transition: all .5s;
        }

        &:hover {
            img {
                transform: scale(1.02);
            }

            .detailed__template--bg {
                transform: rotate(-3.9deg);
            }
        }
    }

    &__info {
        // flex: 1;
        position: relative;
        max-width: 50%;

        h1 {
            @include heading-light();
            font-size: 34px;
            line-height: 136%;

            text-transform: uppercase;

            margin-bottom: 10px;
        }
    }

    &__meta {
        display: flex;
        gap: 18px;
        margin-bottom: 20px;

        & > p {
            @include pg-400();
            padding: 5px 14px;

            background: #FF4848;
            border-radius: 4px;

            color: #FFFFFF;

            span {
                @include pg-600();
                margin-right: 16px;

                color: #FFFFFF;
                text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);

                text-transform: uppercase;
            }
        }
    }

    &__description {
        @include pg-400();
        font-size: 18px;
        line-height: 136%;
        margin-bottom: 18px;
    }

    &__about {
        padding: 20px 24px 32px 24px;
        background: #FFFFFF;
        border-radius: 8px;
        margin-bottom: 22px;

        h3 {
            @include pg-600();
            font-size: 16px;
            line-height: 136%;
            color: #2A353E;

            margin-bottom: 10px;

            text-transform: uppercase;
        }

        p {
            @include pg-400();
            font-size: 16px;
            line-height: 136%;
            color: #000000;
        }
    }

    ul {
        list-style-type: none;

        li {
            @include pg-400();
            font-size: 16px;
            line-height: 136%;

            span {
                @include pg-600();
                margin-right: 14px;
                font-size: 16px;
                line-height: 136%;

                text-transform: uppercase;
            }

            &:not(:last-child) {
                margin-bottom: 14px;
            }
        }
    }

    &__buttons {
        position: absolute;
        bottom: -32px;
        right: 70px;

        &-prev, &-next {
            padding: 24px 84px;

            @include pg-700();
            font-size: 16px;
            line-height: 141%;

            text-shadow: 0.933828px 0.933828px 0px rgba(255, 255, 255, 0.65);

            transition: all .5s;

            &:hover {
                transform: scale(1.05);
            }
        }

        &-prev {
            background: #E2E2E2;
            box-shadow: 5px 5px 0px #AFAFAF;

            margin-right: 25px;
        }

        &-next {
            background: #FFBE0B;
            box-shadow: 5px 5px 0px #BD9526;
        }
    }

    &__particles {
        position: absolute;
        top: -20px;
        right: 0;
    }
}

@import "actionparticles";
@import "media";